@model MvcLibrary.Models.Borrowing

@{
    ViewData["Title"] = "Edit Borrowing";
}

<h1>Edit Borrowing</h1>
<hr />
<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="ReturnedAt" class="control-label">Returned At</label>
        <input asp-for="ReturnedAt" class="form-control" type="date" />
        <span asp-validation-for="ReturnedAt" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
